.container{
    max-width: 1730px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}
.navbar{
    padding-top:25px ;
}
i{
    margin-left: 10px;
}
i::before{
    color: green;
    font-size: 30px;
}
.cart_detail {
    text-align: end;
padding: 10px;
}
.Card-container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
.card-title{
    min-height: 145px;

}
.card-wrapper{
    max-width:50% ;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.img-wrapper{
    width: 45%;
    
}
.text-wrapper{
    width: 45%;
}
p i{
    color: red;
}
.heart_btn{
    border: 0;
    font-size: 27px;
    background-color: white;
    position: absolute;
    top: 8px;
    right: 8px;
}